
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="home">
                <h1><img src="img/icons/vsLogo.png" width="20px" />&nbsp;JDC</h1>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#intro">Home</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contato">Contato</a></li>
                @*<li><a href="#" data-toggle="modal" data-target="#myModal">Curriculum</a></li>*@
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Curriculum <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-target="#myModal">Ver Resumo</a></li>
                        <li><a href="Download/cv-jdc.pdf" download>Fazer Download em .PDF</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>