<div class="heading-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow bounceInDown" data-wow-delay="0.4s">
                    <div class="section-heading">
                        <h2>Portfolio</h2>
                        <i class="fa fa-2x fa-angle-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
            <hr class="marginbot-50">
        </div>
    </div>
    <div class="row">
        <h5>Conheça alguns dos projetos em que tive a oportunidade de atuar como desenvolvedor, líder técnico ou arquiteto de soluções.</h5>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                <li data-target="#carousel-example-generic" data-slide-to="7"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active active">
                    <img src="img/portfolio/alberteinstein.png" alt="...">
                    <div class="carousel-caption" style="background-color :rgba(0, 0, 0, 0.4); padding:20px;">
                        <h3>Hospital Israelita Albert Einstein</h3>
                        <p>Sistema de Gerenciamento de Laudos Médicos Eletrônicos.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="img/portfolio/unicred.jpg" alt="...">
                    <div class="carousel-caption" style="background-color :rgba(0, 0, 0, 0.4)">
                        <h3>UNICRED</h3>
                        <p>Portal e intranet UNICRED.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="img/portfolio/carreiranasaude.jpg" alt="...">
                    <div class="carousel-caption" style="background-color :rgba(0, 0, 0, 0.4); padding:20px;">
                        <h3>Profissional VIP</h3>
                        <p>Portal de profissinais com formato de rede social. Iniciando com foco em profissionais de Saúde, e posteriormente se extendendo para áreas de Turismo, Educação, entre outras.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="img/portfolio/rallydossertoes.jpg" alt="...">
                    <div class="carousel-caption" style="background-color :rgba(0, 0, 0, 0.6)">
                        <h3>Rally dos Sertões</h3>
                        <p>Projeto do portal do Rally dos Sertões, sistema de gerenciamento dos sites e mecanismo de inscrição internacional.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="img/portfolio/micelli.jpg" alt="...">
                    <div class="carousel-caption" style="background-color :rgba(0, 0, 0, 0.4)">
                        <h3>Micelli</h3>
                        <p>Sistema para gestão e fiscalização de segurança no trabalho para empresas.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="img/portfolio/fespsp.jpg" alt="...">
                    <div class="carousel-caption" style="background-color :rgba(0, 0, 0, 0.4)">
                        <h3>FESP-SP</h3>
                        <p>Sistema de gestão acadêmica.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="img/portfolio/emtu.jpg" alt="...">
                    <div class="carousel-caption" style="background-color :rgba(0, 0, 0, 0.4)">
                        <h3>EMTU</h3>
                        <p>Sistema de gestão de bilhetes e cartões para transporte.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="img/portfolio/valeexpress.jpg" alt="...">
                    <div class="carousel-caption" style="background-color :rgba(0, 0, 0, 0.4)">
                        <h3>Vale Express</h3>
                        <p>Sistema de gerenciamento de emissão de vales.</p>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
